/** MAQUETADO DE LA PÁGINA PARA PANTALLA DE COMPU*/
.contenedor{
        background-color: rgb(20, 20, 20);

    color: white;
    display: grid;
    grid-template: auto auto auto auto auto auto / 27% 27% 27% 1fr;
    grid-template-areas: "header header header header"
                         "carrusel carrusel carrusel carrusel"
                         "pelis pelis pelis aside"
                         "marquesina marquesina marquesina aside"
                         "pelis2 pelis2 pelis2 aside"
                         "footer footer footer footer";
}

/** ESTILOS DEL NAVBAR MENÚ */

.header{
    grid-area: header;
    /* background-color: rgb(152, 240, 240); */
    display: flex;
    justify-content:space-around;
}

.navega{
    width: 30%;
    justify-content: space-between;
}


/*? ESTILOS DEL CARRUSEL */

.carrusel{
    grid-area: carrusel;
    /* background-color: rgb(114, 219, 219); */
}


.foto {
    max-height: 28rem;
 }
.foto img{
   object-fit: cover;
    height: 100%;
    width: 100%;
}

/*! ESTILOS DE LAS PELÍCULAS */

.pelis{
    grid-area: pelis;
    margin-top: 1em;
    margin-left: 0px;
    /* background-color: rgba(13, 53, 116, 0.5); */
    display: flex;
    justify-content: space-between;
}

.peli1{
    text-align: center;
}
.peli2{
    text-align: center;
}

/** ESTILOS DE MARQUESINA */
.marquesina{
    grid-area: marquesina;
    margin-top: 1em;
    /* background-color: lightskyblue; */
}
.slider{
    height: 15vh;
    overflow: hidden;   
}
.slider{
    width: 80vw;
    height: 20vh;
    overflow: hidden;   
}
.slider .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 12);
    animation-play-state: running;    
}
.slider .slide-track:hover{
    animation-play-state: paused;
}
.slider .slide{
    width: 200px;    
}
.slider .slide img{
    width: 100%;
    height: 75%;
}
@keyframes scroll{
    0%{
        -webkit-transform: translatex(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 6)) ;
        transform: translateX(calc(-200*6));
    }
}

/*! ESTILOS DE LAS PELÍCULAS SEGUNDA SECCIÓN */
.pelis2{
    grid-area: pelis2;
    /* background-color: rgb(209, 112, 132); */
    display: flex;
    justify-content: space-between;
}
.aside{
    grid-area: aside;
    margin-top: 1em;
}
.footer{
    grid-area: footer;
    margin-top: 2em;
    /* background-color: rgb(132, 231, 185); */
    display: flex;
    justify-content: space-around;
}
.redes {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.tecno {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/*? Media Query para tablet */
@media  (max-width: 768px) {
    .contenedor{
        background-color: rgb(108, 156, 108);
        grid-template:  "header header header" 
                         "carrusel carrusel carrusel"
                         "pelis pelis pelis"
                         "marquesina marquesina marquesina"
                         "pelis2 pelis2 pelis2"
                         "aside aside aside"
                         "footer footer footer";
    }
    .pelis{
        flex-direction: column;
    }
    .pelis2{
        flex-direction: column;
    }
.peli1{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}
.peli2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(187, 221, 143);
}
.slider{
    width: 100vw;
    height: 20vh;
    overflow: hidden;   
}
}

/** Media Query para cel */
@media  (max-width: 425px) {
    .contenedor{
        background-color: rgb(181, 114, 212);
        grid-template:  "header" 
                         "carrusel"
                         "pelis"
                         "marquesina"
                         "footer footer footer";
    }
    .pelis{
        flex-direction: row;
        justify-content: center;
        width: 400px;
    }
    .peli1{
        width: 210px;
    }
    .peli2{
        width: 210px;
    }  
    .card img{
        width: 170px;
    }
    .pelis2{
        display: none  ;
    }
    .marquesina{
        /*display: none;*/
        padding: .5em;
        width: 90vw;
    }
    .aside{
        display:none   ;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .redes{
        gap: 1em;
    }
    .tecno{
        display: none;
    }
}